__pycache__/
*.pyc
build/
dist/
*.spec
.venv/
env/
output/
raw_data/
projects/*/output/
auto_git.ps1
*.bat
.vscode/
.idea/
*.log
*.tmp
*.png
*.tiff
*.tif
*.jpg
*.csv
*.xlsx
__pycache__/
*.pyo
*.exe
*.zip
.codex/